/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	padding-top: 40px;
}

.page-header > h1 {
	color: #5a5a5a;
}

.page-header {
	margin: 20px 0 30px;
}

input[type="submit"] {
	color: #6b6b6b;
}

label {
	color: #5a5a5a;
}

.hint {
	font-size: 12px;
	margin-top: -5px;
	margin-bottom: 5px;
}

.field {
	margin: 0 0 10px;
}



body a:hover {
	text-decoration: none;
}

.remember {
	padding-bottom: 10px;
}
#user_remember_me {
	float: left;
	width: 17px;
}